{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ heading }}</h1>
      <p class="govuk-body">We could not sign you in.</p>
      <p class="govuk-body">
        <a href="/" class="govuk-link">Try signing in again</a>
      </p>
    </div>
  </div>
{% endblock %}
