{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ heading }}</h1>
      {% for paragraph in paragraphs %}
        <p class="govuk-body">{{ paragraph }}</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
